body {
  margin: 0;
}

.green {
  display: inline-block;
  padding: 50px;
  width: 95%;
  height: 30px;
  background-color: lightgreen;
  margin-bottom: 20px;
}

.yellow {
  background-color: rgb(221, 221, 40);
  display: inline-block;
  height: 350px;
  width: 320px;
  margin: 10px 20px 10px 0;
  padding: 50px;
  vertical-align: top;
}

.innerp {
  background-color: aliceblue;
  padding: 10px;
  margin: 20px;
  margin-bottom: 30px;
}

.mid {
  display: inline-block;
}
.orange {
  background-color: rgb(216, 155, 41);
  height: 112px;
  width: 320px;
  margin: 10px 20px 20px 20px;
  padding: 50px;
  vertical-align: top;
}

.blue {
  background-color: rgb(109 109 221);
  height: 112px;
  width: 320px;
  margin: 25px 20px 20px 20px;
  padding: 50px;
  vertical-align: top;
}

.red {
  background-color: red;
  display: inline-block;
  height: 350px;
  width: 320px;
  margin: 10px 0px 10px 20px;
  padding: 50px;
  vertical-align: top;
}
