.diva {
  height: 400px;
  width: 400px;
  border: 3px solid black;
  display: inline-block;
}

.sidediv {
  display: inline-block;
  position: absolute;
  display: inline-block;
  margin-left: 12px;
}

.divb {
  height: 150px;
  width: 300px;
  border: 3px solid black;
}

.divc {
  display: inline-block;
  height: 230px;
  width: 310px;
  border: 3px solid black;
  margin-top: 15px;
  margin-left: 5px;
}
p {
  position: relative;
  top: 40%;
  font-size: 24px;
  left: 40%;
}
